doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Reserve
    body
        ul
            li
                a(href='/') Fleet
            li
                a(href='/reserve') Reserve
            if logged
                li
                    a(href='/logout') Logout
        ul
            li
                a(href='/edit') Edit Reservation
            li
                a(href='/displayMyReservations') Display My Reservation
            li
                a(href='/cancelReservation') Cancel Reservation
            li
                a(href='/userRent') Rent your car

    form(method='POST' action='/editResult2')
        p Reservation ID
        select(name='reservation_id')
            option(value="#{reservation_id}") #{reservation_id}
        p Pick up place
        select(name='book_in_place' required)
            option(value='Bialystok') Białystok
            option(value='Bielsko_Biala') Bielsko Biała
            option(value='Bydgoszcz') Bydgoszcz
            option(value='Bytom') Bytom
            option(value='Gdansk') Gdańsk
            option(value='Katowice') Katowice
            option(value='Kielce') Kielce
            option(value='Krakow') Kraków
            option(value='Warszawa') Warszawa
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="date" name="book_in_date" required)
        p Return place
        select(name='book_out_place' required)
            option(value='Bialystok') Białystok
            option(value='Bielsko_Biala') Bielsko Biała
            option(value='Bydgoszcz') Bydgoszcz
            option(value='Bytom') Bytom
            option(value='Gdansk') Gdańsk
            option(value='Katowice') Katowice
            option(value='Kielce') Kielce
            option(value='Krakow') Kraków
            option(value='Warszawa') Warszawa
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="date" name="book_out_date" required)
        br
        br
        p Chosen car
        select(name="edit_chosen_car")
            option(value="Fiat 500") Fiat 500
            option(value="Kia Picanto") Kia Picanto
            option(value="Opel Corsa") Opel Corsa
            option(value="Renault Clio") Renault Clio
            option(value="Hyundai i30") Hyundai i30
            option(value="Kia Ceed") Kia Ceed
            option(value="Mazda 6") Mazda 6
            option(value="Toyota Avensis") Toyota Avensis
            option(value="Peugeot Partner") Peugeot Partner
            option(value="Mercedes GLC") Mercedes GLC
            option(value="BMW X4") BMW X4
        br
        br
        input(type="submit" value="Proceed")

