doctype html
html(lang='en')
    head
        title Sign In
    body
        h1 Sign In
        form(method='post')
            if fail
                p= fail
            else if error
                p=error
            p
                label E-mail
                br
                if user
                    input(type='text', name='email', placeholder="E-mail")
                else
                    input(type='text', name='email')

            p
                label Password
                br
                input(type='password', name='password')
            input(type='submit', value='Log In')