extends layout

block content
    .container

        h1 Sign Up
        form
                .alert.alert-danger(role='alert', id="msgDiv")
        form(id="form", name = "register", method = "POST", action="/register")
            label(for="firstname") Firstname
            br
            input(type="text", name="firstname", id="firstname")
            br
            label(for="lastname") Lastname
            br
            input(type="text", name="lastname", id="lastname")
            br
            label(for="email") Email
            br
            input(type="text", name="email", id="email")
            br
            label(for="password") Password
            br
            input(type="password", name="password", id="password")
            br
            label(for="repeat_password") Repeat password
            br
            input(type="password", name="repeat_password", id="repeat_password")
            br
            br
            input(type="submit" value="Register", id="register")
