doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Reserve Result
    body
        ul
            li
                a(href='/') Fleet
            li
                a(href='/user') My account
            li
                a(href='/edit') Reserve
            li
                a(href='/logout') Logout

        h1 Reservation Successfull!