doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title #{title}
    body
        ul
            li
                a(href='/') Fleet
            if logged == 1
                li
                    a(href='/admin') Administration
            li
                a(href='/reserve') Reserve
            if logged
                li
                    a(href='logout') Logout
        ul
            li
                a(href='/edit') Edit Reservation
            li
                a(href='/displayMyReservations') Display My Reservation
            li
                a(href='/cancelReservation') Cancel Reservation
            li
                a(href='/userRent') Rent your car
